extends layout

block content
  head
    script(src="/javascripts/indexbehaviour.js")
  body
    h1= title
    p.
      Welcome to #{title}. Please Login.
      The following button will redirect you to NDI registration portal.

    // Wrapper
    #wrapper
      form(action="/redirect", method='GET')
        h2 Amount to Transfer
        input(type='text', name='amt_transfer')
        h2 Payee Account
        input(type='text', name='payee_acct')
        br
        br
        img(src=qrSrc, id="qr-code", height="350px", width="350px")     
        br
        br
        input(type='submit', value='Login using NDI', name='Submit', 
        id='submit_btm')
    // /Wrapper